# DEFAULT RULE:
# - handle line endings automatically for files detected as text
# - handle all files detected as binary untouched
* text=auto

# TEXT (convert crlf => lf)
*.css           text
*.htm           text
*.html          text
*.sass          text
*.scss          text
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.java          text
*.properties    text
*.yaml          text
*.sh            text
*.svg           text
*.txt           text
*.xml           text
*.sql           text
*.sh            text
*.bat           text
*.tmpl          text
.htaccess       text
.gitattributes  text
.gitignore      text
.gitconfig      text
.jshintrc       text
.jscsrc         text
.jshintignore   text
.csslintrc      text
.editorconfig   text
*.npmignore     text
*.bowerrc       text
*.md            text
LICENSE         text
AUTHORS         text

# BINARY (untouched)
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.war           binary
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.mov           binary
*.mp4           binary
*.mp3           binary
*.flv           binary
*.fla           binary
*.swf           binary
*.gz            binary
*.zip           binary
*.7z            binary
*.ttf           binary
*.eot           binary
*.woff          binary
*.woff2         binary
*.pdf           binary
*.xls           binary
*.doc           binary
